<section class="main-row">
    <nav>
        <ul>
            <li class="nav"><a href="#">FEATURED PRODUCTS</a></li>
            <li class="nav"><a href="#">NEW PRODUCTS</a></li>
            <li class="nav"><a href="#">SHOP SALE ITEMS</a></li>
        </ul>
    </nav>
</section>