<div class="container">
    <div class="row main-row">
        <div class="col"><a href="#">FEATURED PRODUCTS</a></div>
        <div class="col"><a href="#">NEW PRODUCTS</a></div>
        <div class="col"><a href="#">SHOP SALE ITEMS</a></div>
    </div>
</div>