<div class="fashion2">
  <article>

    <img src="http://fanfitgaming.com/wp-content/uploads/2016/11/shipping-icon-1-400x400.png" width="100" />
    <h4>FREE UK DELIVERY</h4>
    <p>Vestibulum id ligula porta felis<br> euismod semper.Donec<br>ullamcorper nulla non metus</p>
  </article>
  <article>
    <img src="https://image.flaticon.com/icons/svg/2/2367.svg" width="100" />
    <h4>GIFT WRAPPING</h4>
    <p>Vestibulum id ligula porta felis<br> euismod semper.Donec<br>ullamcorper nulla non metus</p>
  </article>
  <article>
    <img src="https://cdn.xl.thumbs.canstockphoto.com/canstock27945789.jpg" width="100" />
    <h4>SHARE US</h4>
    <p>Vestibulum id ligula porta felis<br> euismod semper.Donec<br>ullamcorper nulla non metus</p>
  </article>
</div>
{{!-- <div class="layout">
    <article>
        <img src="http://imageog.flaticon.com/icons/png/512/46/46021.png?size=100x100f"/>
        <h4> FREE UK DELIVERY</h4>
        <p> Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus</p>
    </article>
    <article>

        <h4> GIFT WRAPPING</h4>
        <p> Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus</p>
    </article>
    <article>
        <img src="images/shareUs.png"/>
        <h4>SHARE US</h4>
        <p>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus</p>
    </article>
</div> --}}