<div class="fashion2">
  <article>

    <img src="http://fanfitgaming.com/wp-content/uploads/2016/11/shipping-icon-1-400x400.png" width="100" />
    <h4>FREE UK DELIVERY</h4>
    <p>Vestibulum id ligula porta felis<br> euismod semper.Donec<br>ullamcorper nulla non metus</p>
  </article>
  <article>
    <img src="https://image.flaticon.com/icons/svg/2/2367.svg" width="100" />
    <h4>GIFT WRAPPING</h4>
    <p>Vestibulum id ligula porta felis<br> euismod semper.Donec<br>ullamcorper nulla non metus</p>
  </article>
  <article>
    <img src="https://cdn.xl.thumbs.canstockphoto.com/canstock27945789.jpg" width="100" />
    <h4>SHARE US</h4>
    <p>Vestibulum id ligula porta felis<br> euismod semper.Donec<br>ullamcorper nulla non metus</p>
  </article>
</div>
{{!-- <div class="layout">
    <article>
        <img src="http://imageog.flaticon.com/icons/png/512/46/46021.png?size=100x100f"/>
        <h4> FREE UK DELIVERY</h4>
        <p> Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus</p>
    </article>
    <article>

        <h4> GIFT WRAPPING</h4>
        <p> Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus</p>
    </article>
    <article>
        <img src="images/shareUs.png"/>
        <h4>SHARE US</h4>
        <p>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus</p>
    </article>
</div> --}}

<div class="foot">
  <div class="social"> <img src="https://static1.squarespace.com/static/552bf27ce4b01402b7890f7b/t/596cfd81579fb3247d020b9a/1492722846471/d26d4439d59a713fbceb359cc6b8e440_image-facebook-iconpng-facebook-icon-clipart_2000-2000.png"
      width="50px">
  </div>
  <div class="social"><img src="https://image.freepik.com/free-icon/twitter-circled_318-10749.jpg" width="50px">
  </div>
  <div class="social"><img src="https://image.flaticon.com/icons/png/128/24/24171.png" width="50px">
  </div>
  <div class="social"><img src="https://s-media-cache-ak0.pinimg.com/736x/f0/13/c6/f013c653e9418ab49e0fbfef73ee2f2c--free-instagram-instagram-logo.jpg"
      width="50px"></div>

  <div class="contents">
    <article>
      <h1>INFORMATION</h1>
      <a href="#">our blog</a>
      <a href="#">About our shop</a>
      <a href="#">Size guide</a>
      <a href="#">contact us</a>
    </article>






    
  </div>

