<div class="fashion1">
    <div class="review">
        <h2>QUAM PURUS FUSCE</h2>
        <p>Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise
            design elements over content. It's also called placeholder (or filler) text. It's a convenient tool for mock-ups.
            It helps to outline the visual elements of a document or presentation, eg typography, font, or layout. Lorem
            ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero.
        </p>
    </div>
    <div>
        <img src="https://img.grouponcdn.com/deal/NvFC1D5zorV7tj9eArPFvRzmWBq/Nv-1000x600/v1/t300x182.jpg">
    </div>
</div>

