<header>
	<div class="wrapper">
		<div class="footer">
			<div <div class="social"> <img src="https://static1.squarespace.com/static/552bf27ce4b01402b7890f7b/t/596cfd81579fb3247d020b9a/1492722846471/d26d4439d59a713fbceb359cc6b8e440_image-facebook-iconpng-facebook-icon-clipart_2000-2000.png"
				 width="50px">
			</div>
			<div class="social"><img src="https://image.freepik.com/free-icon/twitter-circled_318-10749.jpg" width="50px">
			</div>
			<div class="social"><img src="https://image.flaticon.com/icons/png/128/24/24171.png" width="50px">
			</div>
			<div class="social"><img src="https://s-media-cache-ak0.pinimg.com/736x/f0/13/c6/f013c653e9418ab49e0fbfef73ee2f2c--free-instagram-instagram-logo.jpg"
				 width="50px"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h5>INFORMATION</h5>
					<a href="#">our blog</a>
					<a href="#">About our shop</a>
					<a href="#">Size guide</a>
					<a href="#">contact us</a>
					<h5>SECURE PAYMENTS</h5>

				</div>
				<div class="col-md-3">
					<h5>SERVICES</h5>
					<a href="#">Delivery information</a>
					<a href="#">Shipping and returns</a>
					<a href="#">Secure shopping</a>
					<a href="#">International shipping</a>
					<img src="https://png.icons8.com/ios/1600/007AFF/visa-filled" width="40px">

				</div>

				<div class="col-md-3">
					<h5>MY ACCOUNT</h5>
					<a href="#">My account</a>
					<a href="#">Shopping cart</a>
					<a href="#">Wish-list</a>

				</div>
				<div class="col-md-3">
					<h5>JOIN OUR NEWSLETTER</h5>
					<input form="e-mail">
					<img src="images/oceanj-logo.png" />

				</div>

			</div>
		</div>
	</div>
</header>