<div class="about">		
     <h3>quam purus fusce</h3>		
     <p>ocean Jewellery is an Edinburgh basid specialist retailer bringing together jewellery, clothing and fashion		
         accessories from around the world. with emphasis on design, value and quality, you can purchase online knowing		
         we only supply products selected with personal care and attention</p>		
         <p>Enjoy shopping and we look forward to hearing from you soon ............</p>		
   </div> 