<header class="footer-wrapper">
	<div class="wrapper">
		<div class="footer">
			<div <div class="social"> <img src="https://cdn0.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_facebook_box_blue.png"
				 width="50px">
			</div>
			<div class="social"><img src="https://image.freepik.com/free-icon/twitter-circled_318-10749.jpg" width="50px">
			</div>
			<div class="social"><img src="http://icons.iconarchive.com/icons/marcus-roberto/google-play/512/Google-Search-icon.png" width="50px">
			</div>
			<div class="social"><img src="https://s-media-cache-ak0.pinimg.com/736x/f0/13/c6/f013c653e9418ab49e0fbfef73ee2f2c--free-instagram-instagram-logo.jpg"
				 width="50px"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h5>INFORMATION</h5>
					<a href="#">our blog</a>
					<a href="#">About our shop</a>
					<a href="#">Size guide</a>
					<a href="#">contact us</a>
				</div>
				<div class="col-md-3">
					<h5>SERVICES</h5>
					<a href="#">Delivery information</a>
					<a href="#">Shipping and returns</a>
					<a href="#">Secure shopping</a>
					<a href="#">International shipping</a>
				</div>
				<div class="col-md-3">
					<h5>MY ACCOUNT</h5>
					<a href="#">My account</a>
					<a href="#">Shopping cart</a>
					<a href="#">Wish-list</a>

				</div>
				<div class="col-md-3">
					<h5>JOIN OUR NEWSLETTER</h5>
					<input form="e-mail">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h5>SECURE PAYMENTS</h5>
				</div>
				<div class="col-md-3">
					<img src="https://png.icons8.com/ios/1600/007AFF/visa-filled" width="40px">
				</div>
				<div class="col-md-3">	
				</div>
				<div class="col-md-3">
					<img src="images/oceanj-logo.png" />
				</div>
				<div class="col-md-3">
					<p class="parraf">@Copyright 2017 Ocean Jewellery  | Privacy policy   |  Eebsite by Design 33</p>
				</div>
			</div>
		</div>
	</div>
</header>