<div class="foot">
	<div class="social"> <img src="https://static1.squarespace.com/static/552bf27ce4b01402b7890f7b/t/596cfd81579fb3247d020b9a/1492722846471/d26d4439d59a713fbceb359cc6b8e440_image-facebook-iconpng-facebook-icon-clipart_2000-2000.png"
			width="50px">
	</div>
	<div class="social"><img src="https://image.freepik.com/free-icon/twitter-circled_318-10749.jpg" width="50px">
	</div>
	<div class="social"><img src="https://image.flaticon.com/icons/png/128/24/24171.png" width="50px">
	</div>
	<div class="social"><img src="https://s-media-cache-ak0.pinimg.com/736x/f0/13/c6/f013c653e9418ab49e0fbfef73ee2f2c--free-instagram-instagram-logo.jpg"
			width="50px"></div>

	<div class="contents">
		<article>
			<h1>INFORMATION</h1>
			<a href="#">our blog</a>
			<a href="#">About our shop</a>
			<a href="#">Size guide</a>
			<a href="#">contact us</a>
		</article>
	</div>
</div>
