<header>
    <div class="wrapper">
        <nav>
            <a href="https://www.facebook.com/" target="_blank" class="icon-facebook"></a>
            <a href="https://twitter.com/?lang=es" target="_blank" class="icon-twitter"></a>
            <a href="https://www.instagram.com/?hl=es" target="_blank" class="icon-instagram"></a>
            <a href="https://www.google.co.uk/" target="_blank" class="icon-google"></a>
            <a href="#">MY ACCOUNT</a>
            <a href="#">MY BAG</a>
            <a href="#">CALL US -0131 229 6767</a>
        </nav>
        <a href="#" class="logo"><img src="images/oceanj-logo.png" alt=""></a>
        <div>
            <input type="text" class="form-control" placeholder="Search product">
        </div>
    </div>
</header>