<div id="jumbotron">
    <section class="main-row">
        <nav>
            <ul>
                <li class="nav"><a href="#">SHOP CHRISTMAS GIFTS</a></li>
                <li class="nav"><a href="#">PARTY SEASON GLAMOUR</a></li>
                <li class="nav"><a href="#">10% OFF SELECTED SCARVES</a></li>
            </ul>
        </nav>
    </section>
    <div class="mainPage">
        <div class="image">
            <img src="images/img.png" width="670" height="500" alt="" />
            <div class="textOverImage">
                <h3><span>NEW SEASONS <br/>ACCESSORIES</span></h3>
                <button>SHOP NOW &#160 &#62 </button>
            </div>
        </div>
        <div class="image1">
            <a href="#"><img src="images/pic.jpg" width="330" height="500" alt=""></a>
            <div class="textOverImage1">
                <h2><span>PERSONAL <br/>SHOPPING</span></h2>
            </div>
        </div>
    </div>
    <div class="secondmain">
        <div class="image2">
            <img src="images/Edbladpic.png" />
            <div class="textOverImage2">
                <h2><span>edblad <br/>new range</span></h2>
            </div>
        </div>
        <div class="image3">
            <h3 class="saleText">sale! <br/> up to 50% off <br/> selected items</h3>
            <img src="http://img1.polyvoreimg.com/cgi/img-thing?.out=jpg&size=m&tid=156659903" width="340" height="240"
                alt="" />
            <div class="textOverImage3">
                <h2><span>gift ideas</span></h2>
            </div>
        </div>
        <div class="image4">
            <img src="http://6.fotos.web.sapo.io/i/Bc4083193/19403150_50PPc.jpeg" />
            <div class="textOverImage4">
                <h2><span>wrap up <br/>this winter</span></h2>
            </div>
        </div>
    </div>
</div>


<div class="about">
    <h3>quam purus fusce</h3>
    <p>ocean Jewellery is an Edinburgh basid specialist retailer bringing together jewellery, clothing and fashion
        accessories from around the world. with emphasis on design, value and quality, you can purchase online knowing
        we only supply products selected with personal care and attention</p>
        <p>Enjoy shopping and we look forward to hearing from you soon ............</p>
    </div>