
    <section class="main-row">
        <nav>
            <ul>
                <li class="nav"><a href="#">SHOP CHRISTMAS GIFTS</a></li>
                <li class="nav"><a href="#">PARTY SEASON GLAMOUR</a></li>
                <li class="nav"><a href="#">10% OFF SELECTED SCARVES</a></li>
            </ul>
        </nav>
    </section>
    <div class="mainPage">
    <div class="image">
        <img src="https://i.pinimg.com/736x/df/34/2e/df342e166e2a7a44a86501828f5ffb81--beyonce-engagement-ring-engagement-ring-pictures.jpg"
            alt="" />
        <div class="textOverImage">
            <h3><span>NEW SEASONS <br/>ACCESSORIES</span></h3>
            <button>SHOP NOW &#160 &#62 </button>
        </div>
    </div>
    <div class="image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLRNXQu1f3YjRbgk67sRC0EzLuDHlRNIRyVmgZY0IH4n7JOc9PeQ" alt=""
            width="300px" height="600px" />
        <div class="textImage">
            <h2>PERSONAL <br/>SHOPPING</h2>
        </div>
    </div>

</div>