<div class="container">
    <div class="row">
        <nav>
            <ul>
                <li class="navbar"><a href="#">HOME</a></li>
                <li class="navbar"><a href="#">JEWELLERY</a></li>
                <li class="navbar"><a href="#">ACCESSORIES</a></li>
                <li class="navbar"><a href="#">PERSONAL SHOPPING</a></li>
                <li class="navbar"><a href="#">OFFERS</a></li>
                <li class="navbar"><a href="#">BLOG</a></li>
                <li class="navbar"><a href="#">CONTACT US</a></li>
            </ul>
        </nav>
    </div>
</div>