<div class="thumbs">
    <div class="thumb ">
        <img src="https://shopcdn.textalk.se/shop/15337/art37/h0522/24850522-origpic-ea58df.jpg?max-width=200&max-height=200&quality=92"
            alt="">
        <p>EDBLAD Dottie Earrings</p>
        <p>£21</p>
    </div>
    <div class="thumb ">
        <img src="http://www.martenssons.se/shop/thumbnails/shop/18779/art79/h8242/31498242-origpic-dfec53.jpg_0_0_100_100_189_213_85.jpg"
            alt="">
        <p>EDBLAD Skyline Bracelet</p>
        <p>£60</p>
    </div>
    <div class="thumb ">
        <img src="https://s-media-cache-ak0.pinimg.com/236x/9c/32/2e/9c322eb7e0fe3ce34b9bcb01bddc4dc1--jewellery-earrings-heart-earrings.jpg"
            alt="">
        <p>Tutti Long Heart connector Necklace</p>
        <p>£39</p>
    </div>
    <div class="thumb ">
        <img src="http://www.robertgatwardjewellers.co.uk/media/catalog/product/cache/1/small_image/190x/17f82f742ffe127f42dca9de82fb58b1/4/7/475820-1200_silver_and_black_stickpin_earrings.jpg"
            alt="">
        <p>Coeur de Lion Earrings-Haematite & Rhinestone</p>
        <p>£45</p>
    </div>
    <div class="thumb ">
        <img src="http://www.lovedazzle.com/DoMedia/images/img_00083990-180x180.jpg" alt="">
        <p>Gail Klevan Cufflinks</p>
        <p>£55</p>
    </div>
    <div class="thumb ">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/51HwPG5ypsL._AC_UL260_SR200,200_.jpg" alt="">
        <p>Bessie London Fadux Leather Hadndbag- Tan</p>
        <p>£45</p>
    </div>
    <div class="thumb ">
        <img src="http://bluetreeinteriors.co.uk/ekmps/shops/c62fee/images/-bag-of-tricks-hot-pink-clutch-452-p[ekm]200x200[ekm].jpg"
            alt="">
        <p>Katie Loxton Purse</p>
        <p>£16</p>
    </div>
    <div class="thumb ">
        <img src="http://www.modisign.de/images/product_images/info_images/Armband-Orit-7C804_1268.jpg" alt="">
        <p>Dansk Orit Bracelet</p>
        <p>£29</p>
    </div>
    <div class="thumb ">
        <img src="https://i.touslesprix.com/ph_tar/631/300/7/7/3/4/233924377.jpg" alt="">
        <p>Anaii Pink "Kensington" Ladies Wath</p>
        <p>£30</p>
    </div>
    <div class="thumb ">
        <img src="https://cdn.shopify.com/s/files/1/1073/5202/products/stardust-scarf_large.jpg?v=1492075746" alt="">
        <p>Terry Trees Scarf -Navy</p>
        <p>£16</p>
    </div>

</div>