    /*#wrap {
        width: 100%;
        border: 1px solid black;
    }
*/
    .container {
        background-color: #f4faf6;
    }

    .row {
        list-style: none;
        padding: 18px;
    }

    .navbar {
        list-style: none;
        display: inline;
        padding: 10px;
    }

    .navbar a {
        text-decoration: none;
        color: black;
        padding: 10px 10px;
        font-size: 15px;
    }

    .main-row {
        list-style: none;
        padding: 20px 20px;
        
    }
    .nav{
        list-style: none;
        display: inline;
        padding: 12px 16px;
        margin: 4px 12px;
        background-color: #9edae9;
    }
    .nav a{
        text-decoration: none;
        color: black;
        padding: 14px 14px;
        font-size: 18px;
    }
    .layout{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 100%;
        background-color: #deefe2;
        border: 1px solid black;
    }
    article{
        width: 25%;
    }