<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Fashion website</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="main.css" rel="stylesheet">
</head>

<body>
    <div id="wrap">
        <div class="container">
            <div class="row">
                <nav>

                    <ul>
                        <li class="navbar"><a href="#">HOME</a></li>
                        <li class="navbar"><a href="#">JEWELLERY</a></li>
                        <li class="navbar"><a href="#">ACCESSORIES</a></li>
                        <li class="navbar"><a href="#">PERSONAL SHOPPING</a></li>
                        <li class="navbar"><a href="#">OFFERS</a></li>
                        <li class="navbar"><a href="#">BLOG</a></li>
                        <li class="navbar"><a href="#">CONTACT US</a></li>
                    </ul>
                </nav>
            </div>
            <section class="main-row">
                <nav>
                    <ul>
                        <li class="nav"><a href="#">SHOP CHRISTMAS GIFTS</a></li>
                        <li class="nav"><a href="#">PARTY SEASON GLAMOUR</a></li>
                        <li class="nav"><a href="#">10% OFF SELECTED SCARVES</a></li>
                    </ul>
                </nav>
            </section>
        </div>
        <div class="layout">
            <article>
                <img src="http://imageog.flaticon.com/icons/png/512/46/46021.png?size=100x100f">
                <h4> FREE UK DELIVERY</h4>
                <p> Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus</p>
            </article>
            <article>

                <h4> GIFT WRAPPING</h4>
                <p> Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus</p>
            </article>
            <article>

                <h4>SHARE US</h4>
                <p>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus</p>
            </article>
        </div>
        <section class="main-row">
            <nav>
                <ul>
                    <li class="nav"><a href="#">FEATURED PRODUCTS</a></li>
                    <li class="nav"><a href="#">NEW PRODUCTS</a></li>
                    <li class="nav"><a href="#">SHOP SALE ITEMS</a></li>
                </ul>
            </nav>
        </section>
    </div>
</body>

</html>